#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/vmmaestro/VMMaestro
Name=VMMaestro
Comment=VMMaestro for VIRL
Icon=/usr/local/vmmaestro/icon.xpm
